<?xml version="1.0" encoding="UTF-8"?>

<!--  -->


<APL_CONF>
	<CurrentSiteConfiguration ConfigurationName="Singapore"/>

	<SiteConfiguration ConfigurationName = "Singapore">
		<stdf field = "MIR">
			<field name = "LOT_ID">lotid<field>
			<field name = "PART_TYP">device<field>
			<field name = "OPER_NAM">operator<field>
			<field name = "FAMLY_ID">productid<field>
			<field name = "TST_TEMP">temperature<field>
		</stdf>
		<stdf field = "SDR">
			<field name = "HAND_ID">proberhandlerid<field>
			<field name = "LOAD_ID">boardid<field>
		</stdf>
	</SiteConfiguration>

	<SiteConfiguration ConfigurationName = "Korea">
		<stdf field = "MIR">
			<field name = "LOT_ID"><field>
			<field name = "PART_TYP"><field>
			<field name = "OPER_NAM"><field>
			<field name = "FAMLY_ID"><field>
			<field name = "TST_TEMP"><field>
		</stdf>
		<stdf field = "SDR">
			<field name = "HAND_ID"><field>
			<field name = "LOAD_ID"><field>
		</stdf>
	</SiteConfiguration>


</APL_CONF>
