<?xml version="1.0" encoding="UTF-8"?>

<APL_CONF>
	<CurrentSiteConfiguration>singapore</CurrentSiteConfiguration>
	<SiteConfiguration name = "ATK3">
		<Launch>
			<Param name = "Type">prod</Param> <!-- prod, engr; default:prod -->
			<Param name = "Kill Tester Before Launch">true</Param> <!-- true, false; default:false -->
			<Param name = "Wait Time To Launch">129</Param> <!-- default:120 seconds -->
			<Param name = "Max Attempt To Launch">9</Param> <!-- default: 3 -->
			<Param name = "Wait Time To End Lot">29</Param> <!-- default: 30 seconds -->
			<Param name = "Wait Time To Unload Program">29</Param> <!-- default: 30 seconds -->
			<Param name = "Wait Time To FAModule">29</Param> <!-- default: 30 seconds -->
			<Param name = "Wait Time To Kill Tester">39</Param> <!-- default: 30 seconds -->
			<Param name = "Force Load">false</Param> <!-- true if APL will always launch OICU and load program; default: false -->
			<Param name = "NewLot Config Path">/home/test/PROD/qctpax/Desktop/APL</Param>
			<Param name = "NewLot Config File">NewLotUnison</Param>
			<Param name = "Test Site">AMKKR3-S</Param>
			<Param name = "Supplier">AMKOR</Param>
		</Launch>
		<GUI state = "true">
			<IP>127.0.0.1</IP>
			<Port>54000</Port>
		</GUI>

		<LotInfo>
			<File>K3PAx_LotInfo.txt</File> <!-- default: lotinfo.txt -->
			<Path>/home/test/PROD/qctpax/Desktop/APL/</Path> <!-- default: /tmp -->
			<Delete>false</Delete>
			<STDF>true</STDF> <!-- if true, sends STDF field from lotinfo.txt to unison; default: false-->
			<Field>
				<Param name = "LOT_ID">LOTID</Param>
				<Param name = "PART_TYP">PARTTYPE</Param>
				<Param name = "OPER_NAM">OPERATORID</Param>
				<Param name = "DATE_COD">DATECODE</Param>
				<Param name = "TEST_COD">TESTCODE</Param>
				<Param name = "TST_TEMP">TEMPERATURE</Param>
				<Param name = "JOB_NAM">PROGRAM</Param>
				<Param name = "RTST_COD">RETESTCODE</Param>
				<Param name = "NODE_NAM">HOSTNAME</Param>
				<Param name = "HAND_TYP">HANDLERNAME</Param>
				<Param name = "HAND_ID">HANDLERID</Param>
				<Param name = "LOAD_ID">LOADBOARD</Param>
				<Param name = "DIB_ID">DUTBOARD</Param>
				<Param name = "CONT_ID">SOCKET</Param>
				<Param name = "JOBFILE">PROGRAMPATH</Param>
				<Param name = "CUSTOMER">CUSTOMER</Param>
				<Param name = "DEVICENICKNAME">DEVICENICKNAME</Param>
			</Field>

			<Step state = "false">
				<Param flow_id = "FT1" rtst_cod = "0">fT1</Param>
				<Param flow_id = "FT1" rtst_cod = "1">rt1</Param>
				<Param flow_id = "FT2" rtst_cod = "0">Ft2</Param>
				<Param flow_id = "FT2" rtst_cod = "2">2RT2</Param>
				<Param flow_id = "FT1" rtst_cod = "3">RT3</Param>
				<Param flow_id = "FT4" rtst_cod = "5">RT5</Param>
				<Param flow_id = "FT4" rtst_cod = "5">RT5</Param>
			</Step>
		</LotInfo>

		<Binning state = "true">
			<BinType>soft</BinType> <!-- hard, soft -->	
			<TestType>final</TestType> <!-- final, wafer -->		
			<SocketType>udp</SocketType> <!-- udp, tcp -->
			<IP>127.0.0.1</IP>
			<Port>4000</Port>
		</Binning>

		<Logging state = "true">
			<Path>/home/test/PROD/qctpax/Desktop/APL/log</Path>
		</Logging>
		<STDF>
			<Path>/home/test/PROD/qctpax/DATA/STDF</Path> <!--path where STDF file is saved -->
			<TimeStamp></TimeStamp> 
			<Rename state = "true" format = "qualcomm" timestamp = "start"/> <!-- timestamp: start, end -->
			<Compress state = "true" cmd = "/usr/bin/gzip" ext = ".gz" />
		</STDF>
		<FAMODULE state = "false" />
	</SiteConfiguration>

	<SiteConfiguration name = "singapore">
		<Launch>
			<Param name = "Type">prod</Param> <!-- prod, engr; default:prod -->
			<Param name = "Kill Tester Before Launch">true</Param> <!-- true, false; default:false -->
			<Param name = "Wait Time To Launch">129</Param> <!-- default:120 seconds -->
			<Param name = "Max Attempt To Launch">9</Param> <!-- default: 3 -->
			<Param name = "Wait Time To End Lot">29</Param> <!-- default: 30 seconds -->
			<Param name = "Wait Time To Unload Program">29</Param> <!-- default: 30 seconds -->
			<Param name = "Wait Time To FAModule">29</Param> <!-- default: 30 seconds -->
			<Param name = "Wait Time To Kill Tester">39</Param> <!-- default: 30 seconds -->
			<Param name = "Force Load">false</Param> <!-- true if APL will always launch OICU and load program; default: false -->
			<Param name = "NewLot Config Path">/home/localuser/Desktop/APL</Param>
			<Param name = "NewLot Config File">NewLotUnison</Param>
			<Param name = "Test Site">AMKKR3-S</Param>
			<Param name = "Supplier">AMKOR</Param>
		</Launch>
		<GUI state = "true">
			<IP>127.0.0.1</IP>
			<Port>54000</Port>
		</GUI>

		<LotInfo>
			<File>K3PAx_LotInfo.txt</File> <!-- default: lotinfo.txt -->
			<Path>/home/localuser/Desktop/APL</Path> <!-- default: /tmp -->
			<Delete>false</Delete>
			<STDF>true</STDF> <!-- if true, sends STDF field from lotinfo.txt to unison; default: false-->
			<Field>
				<Param name = "LOT_ID">LOTID</Param>
				<Param name = "PART_TYP">PARTTYPE</Param>
				<Param name = "OPER_NAM">OPERATORID</Param>
				<Param name = "DATE_COD">DATECODE</Param>
				<Param name = "TEST_COD">TESTCODE</Param>
				<Param name = "TST_TEMP">TEMPERATURE</Param>
				<Param name = "JOB_NAM">PROGRAM</Param>
				<Param name = "RTST_COD">RETESTCODE</Param>
				<Param name = "NODE_NAM">HOSTNAME</Param>
				<Param name = "HAND_TYP">HANDLERNAME</Param>
				<Param name = "HAND_ID">HANDLERID</Param>
				<Param name = "LOAD_ID">LOADBOARD</Param>
				<Param name = "DIB_ID">DUTBOARD</Param>
				<Param name = "CONT_ID">SOCKET</Param>
				<Param name = "JOBFILE">PROGRAMPATH</Param>
				<Param name = "CUSTOMER">CUSTOMER</Param>
				<Param name = "DEVICENICKNAME">DEVICENICKNAME</Param>
			</Field>

			<Step state = "false">
				<Param flow_id = "FT1" rtst_cod = "0">fT1</Param>
				<Param flow_id = "FT1" rtst_cod = "1">rt1</Param>
				<Param flow_id = "FT2" rtst_cod = "0">Ft2</Param>
				<Param flow_id = "FT2" rtst_cod = "2">2RT2</Param>
				<Param flow_id = "FT1" rtst_cod = "3">RT3</Param>
				<Param flow_id = "FT4" rtst_cod = "5">RT5</Param>
				<Param flow_id = "FT4" rtst_cod = "5">RT5</Param>
			</Step>
		</LotInfo>

		<Binning state = "true">
			<BinType>soft</BinType> <!-- hard, soft -->	
			<TestType>final</TestType> <!-- final, wafer -->		
			<SocketType>udp</SocketType> <!-- udp, tcp -->
			<IP>127.0.0.1</IP>
			<Port>4000</Port>
		</Binning>

		<Logging state = "true">
			<Path>/home/localuser/Desktop/Log</Path>
		</Logging>
		<STDF>
			<Path>/home/localuser/synchro_sim/localuser_sim/dlog</Path> <!--path where STDF file is saved -->
			<TimeStamp></TimeStamp> 
			<Rename state = "true" format = "qualcomm" timestamp = "end"/> <!-- timestamp: start, end -->
			<Compress state = "true" cmd = "/usr/bin/gzip" ext = ".gz" />
		</STDF>
		<FAMODULE state = "false" />
	</SiteConfiguration>


	<SiteConfiguration name = "Amkor1">
		<LotInfo>
			<File>lotinfo.txt</File>
			<Path>/tmp</Path>
		</LotInfo>
		<Binning state = "true">
			<BinType>soft</BinType> <!-- hard, soft -->	
			<TestType>final</TestType> <!-- final, wafer -->		
			<SocketType>udp</SocketType>
			<IP>127.0.0.1</IP>
			<Port>4000</Port>
		</Binning>
		<Logging state = "true">
			<Path>/home/localuser/Desktop/</Path>
		</Logging>
	</SiteConfiguration>
	<SiteConfiguration name = "Amkor">
	</SiteConfiguration>

</APL_CONF>
