<?xml version="1.0" encoding="UTF-8"?>

<APL_CONF>
	<CurrentSiteConfiguration>Singapore</CurrentSiteConfiguration>

	<SiteConfiguration name = "Singapore">
		<Launch>
			<Param name = "Type">prod</Param> <!-- prod, engr; default:prod -->
			<Param name = "Kill Tester Before Launch">false</Param> <!-- true, false; default:false -->
			<Param name = "Wait Time To Launch">120</Param> <!-- default:120 seconds -->
			<Param name = "Max Attempt To Launch">5</Param> <!-- default: 3 -->
			<Param name = "Wait Time To End Lot">20</Param> <!-- default: 30 seconds -->
			<Param name = "Wait Time To Unload Program">20</Param> <!-- default: 30 seconds -->
			<Param name = "Wait Time To FAModule">20</Param> <!-- default: 30 seconds -->
			<Param name = "Wait Time To Kill Tester">30</Param> <!-- default: 30 seconds -->
			<Param name = "Force Load">false</Param> <!-- true if APL will always launch OICU and load program; default: false -->
		</Launch>
		<Summary state = "true"> <!-- default: false -->
			<Path>/home/localuser/</Path> <!-- default: /tmp -->
		</Summary>
		<LotInfo>
			<File>b.txt</File> <!-- default: lotinfo.txt -->
			<Path>/home/localuser/Desktop/APL</Path> <!-- default: /tmp -->
			<Delete>true</Delete>
		</LotInfo>
		<Binning state = "true">
			<BinType>soft</BinType> <!-- hard, soft -->	
			<TestType>wafer</TestType> <!-- final, wafer -->		
			<SocketType>udp</SocketType>
			<IP>127.0.0.1</IP>
			<Port>4000</Port>
		</Binning>
		<Logging state = "true">
			<Path>/home/localuser/Desktop</Path>
		</Logging>
		<STDF state = "true" />
		<FAMODULE state = "true" />

		<Step state = "true">
			<Param flow_id = "FT1" rtst_cod = "0">FT1</Param>
			<Param flow_id = "FT1" rtst_cod = "1">RT1</Param>
			<Param flow_id = "FT2" rtst_cod = "0">FT2</Param>
			<Param flow_id = "FT2" rtst_cod = "2">2RT2</Param>
			<Param flow_id = "FT1" rtst_cod = "3">RT3</Param>
		</Step>
	</SiteConfiguration>

	<SiteConfiguration name = "Amkor1">
		<LotInfo>
			<File>lotinfo.txt</File>
			<Path>/tmp</Path>
		</LotInfo>
		<Binning state = "true">
			<BinType>soft</BinType> <!-- hard, soft -->	
			<TestType>final</TestType> <!-- final, wafer -->		
			<SocketType>udp</SocketType>
			<IP>127.0.0.1</IP>
			<Port>4000</Port>
		</Binning>
		<Logging state = "true">
			<Path>/home/localuser/Desktop/</Path>
		</Logging>
	</SiteConfiguration>
	<SiteConfiguration name = "Amkor">
	</SiteConfiguration>

</APL_CONF>
